extends layout_static_info

block static_info_content
    div(class='row')
        div(class='col-12')
            h1= "Disclaimer"
            p= "Last modified: 3 Oct 2021"

            p="zilWatch is a smart dashboard for Zilliqa that people use to track tokens in their wallet and swap tokens via " 
                a(href='https://docs.zilswap.org/#/smart-contract')='ZilSwap DEX smart contract'
                =". "
                ="zilWatch's main feature consists of (1) the smart dashboard interface, (2) swap tokens on the dashboard, and (3) API endpoints for ZRC-2 token related information."

            p="zilWatch aims to provide the most accurate information and data to users. However, please note that wrong or missing information is a possibility. zilWatch is not affiliated to any projects or tokens in the Zilliqa network. Listing of tokens in zilWatch does not constitute as an endorsement or recommendation by us."
            
            p="Your use of zilWatch services involves various risks, including, but not limited to, losses while digital assets are being supplied to ZilSwap DEX and losses due to the fluctuation of prices of tokens in a trading pair or liquidity pool. Before using swap with zilWatch, please make sure you review the "
                a(href='https://docs.zilswap.org/#/')="documentation"
                =" and understand how ZilSwap DEX works."

            p="All zilWatch services ARE PROVIDED ”AS IS”, AT YOUR OWN RISK, AND WITHOUT WARRANTIES OF ANY KIND. Although we developed zilWatch, we are not liable for any claims or damages whatsoever associated with your use of zilWatch, including any direct, indirect, incidental, special, exemplary, punitive or consequential damages, or loss of profits, cryptocurrencies, tokens, or anything else of value."

