extends layout

block content

  nav(class='navbar navbar-light bg-dynamic-1 justify-content-between')
    a(class='navbar-brand zilwatch-navbar-brand')
      img(src='/images/zilWatch-02.svg' width='30' height='30' class='d-inline-block align-top mr-2' alt='zilWatch')
      = 'zilWatch'

    button(id='toggle_theme_btn' class='btn btn-info my-2 my-sm-0 ml-auto mr-2')
      i(id='toggle_theme_icon' class='fa fa-sun-o')
    
    button(id='wallet_refresh' class='btn btn-info my-2 my-sm-0 mr-2' style='display: none;')
      i(class='fa fa-refresh mr-2')
      = 'Refresh'
    button(id='wallet_address' class='btn btn-outline-info my-2 my-sm-0' style='display: none;')
    button(id='wallet_connect' class='btn btn-info my-2 my-sm-0')= 'Connect'

  // Error Message Container
  div(id='error_message_container' class='container')
    hr
    div(class='balance-box row container')
      span(id='error_message' class='h3')= 'Loading...'
    hr

  // Main Content Container
  div(id='main_content_container' class='container' style='display: none;')

    hr

    div(class='row container')
      div(class='balance-box col-md-6')
        h3(class='font-weight-bold')= 'Net Worth'
        span(class='h4')
          span(class='mr-1')= '$'
          span(id='net_worth_usd')= 'Loading...'
        span(class='h6 ml-4')
          span(id='net_worth_zil')= 'Loading...'
          span(class='ml-1')= 'ZIL'

      div(class='balance-box col-md-6')
        h3(class='font-weight-bold')= 'Wallet Balance'
        span(class='h4')
          span(class='mr-1')= '$'
          span(id='wallet_balance_usd')= 'Loading...'
        span(class='h6 ml-4')
          span(id='wallet_balance_zil')= 'Loading...'
          span(class='ml-1')= 'ZIL'

      div(class='balance-box col-md-6')
        h3(class='font-weight-bold')= 'LP Balance'
        span(class='h4')
          span(class='mr-1')= '$'
          span(id='lp_balance_usd')= 'Loading...'
        span(class='h6 ml-4')
          span(id='lp_balance_zil')= 'Loading...'
          span(class='ml-1')= 'ZIL'

      div(class='balance-box col-md-6')
        h3(class='font-weight-bold')= 'Staking Balance'
        span(class='h4')
          span(class='mr-1')= '$'
          span(id='zil_staking_balance_usd')= 'Loading...'
        span(class='h6 ml-4')
          span(id='zil_staking_balance_zil')= 'Loading...'
          span(class='ml-1')= 'ZIL'

    hr

    // Wallet Balance
    div(class='container title-box' style='display:table-cell; vertical-align: middle;')
      img(class='mr-3' height='36' src=zrcTokenPropertiesListMap['ZLP'].logo_url loading='lazy')
      span(class='h3 font-weight-bold' style='vertical-align: middle;')= 'Wallet Balance'

    div(id='wallet_balance' class='container')

      div(class='row')

        div(class='col-lg-6' style='padding: 0;')
          div(class='box')
            table(class='table table-sm table-borderless' width='100%')
              tbody
                tr
                  td(scope='row' rowspan='2' style='display:table-cell; vertical-align: middle; white-space: nowrap; width: 1%;')
                    img(height='36' src='https://meta.viewblock.io/ZIL/logo' loading='lazy')
                  td(colspan='3')
                    span(class='font-weight-bold')= 'Zilliqa'
                tr
                  td(scope='row' class='font-weight-normal text-secondary' style='white-space: nowrap; width: 33%;' )
                    span(class='mr-1')= '$'
                    span(id='zil_price')= 'Loading...'
                  td(style='text-align: right; white-space: nowrap; width: 33%;' )
                    span(id='zil_balance')= 'Loading...'
                    span(id='zil_balance_unit' class='ml-1')= 'ZIL'
                  td(style='text-align: right; white-space: nowrap; width: 33%;' )
                    span(class='mr-1')= '$'
                    span(id='zil_balance_usd')

        each tokenProperties, key in zrcTokenPropertiesListMap

          div(id=tokenProperties.ticker+'_container' class='col-lg-6' style='padding: 0; display: none')
            div(class='box')
              table(class='table table-sm table-borderless')
                tbody
                  tr
                    td(scope='row' rowspan='2' style='display:table-cell; vertical-align: middle; white-space: nowrap; width: 1%;')
                      img(height='36' src=tokenProperties.logo_url loading='lazy')
                    td(colspan='2')
                      span(class='font-weight-bold')= tokenProperties.name
                    td(style='text-align: right; white-space: nowrap; width: 33%;' )
                      span(id=tokenProperties.ticker+'_balance_zil')= 'Loading...'
                      span(class='ml-1')= 'ZIL'
                  tr
                    td(scope='row' class='font-weight-normal text-secondary' style='white-space: nowrap; width: 33%;' )
                      span(id=tokenProperties.ticker+'_price')= 'Loading...'
                      span(id=tokenProperties.ticker+'_price_unit' class='ml-1')= "ZIL"
                    td(style='text-align: right; white-space: nowrap; width: 33%;' )
                      span(id=tokenProperties.ticker+'_balance')= 'Loading...'
                      span(id=tokenProperties.ticker+'_balance_unit' class='ml-1')= tokenProperties.ticker
                    td(style='text-align: right; white-space: nowrap; width: 33%;' )
                      span(class='mr-1')= '$'
                      span(id=tokenProperties.ticker+'_balance_usd')= 'Loading...'

    hr

    div(class='container title-box' style='display:table-cell; vertical-align: middle;')
      img(class='mr-3' height='36' src='/images/zilswap_long_logo.svg' loading='lazy')
      span(class='h3 font-weight-bold' style='vertical-align: middle;')= 'Liquidity Pool Balance'

    // LP Balance
    div(id='lp_balance' class='container')

      div(class='row')

        div(id='total_all_lp_reward_next_epoch_container' class='col-lg-6' style='padding: 0; display: none')
          div(class='highlight-box')
            table(class='table table-sm table-borderless')
              tbody
                tr
                  td(scope='row' rowspan='2' style='display:table-cell; vertical-align: middle; white-space: nowrap; width: 1%;')
                    img(height='36' src=zrcTokenPropertiesListMap['ZWAP'].logo_url loading='lazy')
                  td(style='text-align: left; white-space: nowrap; width: 49%;' )
                    span(class='font-weight-bold')= 'est. reward next epoch'
                  td(style='text-align: right; white-space: nowrap; width: 49%;' )
                    span(id='lp_reward_next_epoch_duration_counter' class='font-weight-normal')
                tr(class='text-secondary')
                  td(style='text-align: left; white-space: nowrap; width: 49%;' )
                    span(id='total_all_lp_reward_next_epoch_zwap' class='ml-1')= 'Loading...'
                    span(id='total_all_lp_reward_next_epoch_zwap_unit' class='ml-1')= zrcTokenPropertiesListMap['ZWAP'].ticker
                  td(style='text-align: right; white-space: nowrap; width: 49%;' )
                    span(class='mr-1')= '$'
                    span(id='total_all_lp_reward_next_epoch_usd')= 'Loading...'

        each tokenProperties, key in zrcTokenPropertiesListMap

          div(id=tokenProperties.ticker+'_lp_container' class='col-lg-6' style='padding: 0; display: none')
            div(class='box')
              table(class='table table-sm table-borderless')
                tbody
                  tr
                    td(scope='row' rowspan='2' style='display:table-cell; vertical-align: middle; white-space: nowrap; width: 1%;')
                      img(height='36' src=tokenProperties.logo_url loading='lazy')
                    td(style='text-align: left; white-space: nowrap; width: 33%;' )
                      span(class='font-weight-bold')= tokenProperties.ticker + '-ZIL LP'
                    td(class='text-secondary' style='text-align: right; white-space: nowrap; width: 33%;' )
                      span(id=tokenProperties.ticker+'_lp_pool_reward_zwap')
                      span(id=tokenProperties.ticker+'_lp_pool_reward_zwap_unit' class='ml-1')
                    td(style='text-align: right; white-space: nowrap; width: 33%;' )
                      span(id=tokenProperties.ticker+'_lp_pool_share_percent')= 'Loading...'
                      span(class='ml-1')= '%'
                  tr
                    td(colspan='2' style='text-align: left; white-space: nowrap; width: 66%;' )
                      span(id=tokenProperties.ticker+'_lp_token_balance')
                      span(id=tokenProperties.ticker+'_lp_token_balance_unit' class='ml-1')= tokenProperties.ticker
                      span(class='ml-1')= '-'
                      span(id=tokenProperties.ticker+'_lp_zil_balance' class='ml-1')
                      span(id=tokenProperties.ticker+'_lp_zil_balance_unit' class='ml-1')= 'ZIL'
                    td(style='text-align: right; white-space: nowrap; width: 33%;' )
                      span(class='mr-1')= '$'
                      span(id=tokenProperties.ticker+'_lp_balance_usd')= 'Loading...'
    hr

    div(class='container title-box' style='display:table-cell; vertical-align: middle;')
      img(class='mr-3' height='36' src='https://meta.viewblock.io/ZIL/logo' loading='lazy')
      span(class='h3 font-weight-bold' style='vertical-align: middle;')= 'ZIL Staking Balance'

    // ZIL Staking Balance
    div(id='zil_staking_balance' class='container')

      div(class='row')

        each ssnProperties, ssnAddress in ssnListMap

          div(id=ssnAddress+'_zil_staking_container' class='col-lg-6' style='padding: 0; display: none')
            div(class='box')
              table(class='table table-sm table-borderless')
                tbody
                  tr
                    td(colspan='2')
                      span(class='font-weight-bold')= ssnProperties.arguments[3]
                  tr
                    td(style='text-align: left; white-space: nowrap; width: 49%;' )
                      span(id=ssnAddress+'_zil_staking_balance')= 'Loading...'
                      span(id=ssnAddress+'_zil_staking_balance_unit' class='ml-1')= 'ZIL'
                    td(style='text-align: right; white-space: nowrap; width: 49%;' )
                      span(class='mr-1')= '$'
                      span(id=ssnAddress+'_zil_staking_balance_usd')= 'Loading...'
    hr

block script
  script(src='/javascripts/main.min.js')

  script.
    var zrcTokenPropertiesListMap = !{JSON.stringify(zrcTokenPropertiesListMap)};
    var ssnListMap = !{JSON.stringify(ssnListMap)};
