extends layout

block content

  nav(class='navbar navbar-light bg-dynamic-1 justify-content-between')
    a(class='navbar-brand zilwatch-navbar-brand')
      img(src='/images/zilWatch-02.svg' width='30' height='30' class='d-inline-block align-top mr-2' alt='zilWatch')
      = 'zilWatch'

    select(id='currency_selector' class='custom-select my-2 my-sm-0 ml-auto mr-2')
      each symbol, code in currencyMap
        option(value=code)= code.toUpperCase() + ' (' + symbol + ')'

    button(id='toggle_theme_btn' class='btn btn-info my-2 my-sm-0 mr-2')
      i(id='toggle_theme_icon' class='fa fa-sun-o')
    
    button(id='wallet_refresh' class='btn btn-info my-2 my-sm-0 mr-2')
      i(id='wallet_refresh_icon' class='fa fa-refresh')
    button(id='wallet_address' class='btn btn-outline-info my-2 my-sm-0' style='display: none;')
    button(id='wallet_connect' class='btn btn-info my-2 my-sm-0')= 'Connect'

  // Error Message Container
  div(id='error_message_container' class='container')
    hr
    div(class='balance-box row container')
      span(id='error_message' class='h5')= 'Loading...'

  // Public Content Container
  div(id='public_content_container' class='container')
   
    hr

    div(class='row accordion')
    
      div(class='col-lg-6' style='padding: 0;')
        div(class='box-public')

          div(id='price_content_header_container' class='card-header' data-toggle='collapse' href='#price_content_container')
            a(id='price_content_header_title' class='card-title font-weight-bold')= 'Token Price'
          div(id='price_content_container' class='card-body collapse show')
            table(class='table table-sm table-borderless' width='100%')
              tbody
                tr
                  th(colspan=2 style='text-align: left; white-space: nowrap; width: 15%;' )= 'Token Symbol'
                  th(style='text-align: right; white-space: nowrap; width: 25%;' )= 'Price (ZIL)'
                  th(style='text-align: right; white-space: nowrap; width: 10%;' )= '24h (%)'
                  th(style='text-align: right; white-space: nowrap; width: 25%;' )
                    span= 'Price'
                    span= ' ('
                    span(class='currency_symbol')= '$'
                    span= ')'
                  th(style='text-align: right; white-space: nowrap; width: 10%;' )= '24h (%)'
                
                each coinProperties, key in coinMap 
                  tr
                    td(scope='row' style='display:table-cell; vertical-align: middle; white-space: nowrap; width: 1%;')
                      img(height='18' width='18' src=coinProperties.logo_url loading='lazy')
                    td(style='text-align: left; white-space: nowrap; width: 15%;' )
                      span= coinProperties.ticker
                    td(style='text-align: right; white-space: nowrap; width: 25%;' )
                      span(class=coinProperties.ticker+'_price_zil')= 'Loading...'
                    td(id='public_'+coinProperties.ticker+'_price_zil_percent_change_24h_container' style='text-align: right; white-space: nowrap; width: 10%;' )
                      span(id='public_'+coinProperties.ticker+'_price_zil_percent_change_24h')
                    td(style='text-align: right; white-space: nowrap; width: 25%;' )
                      span(class=coinProperties.ticker+'_price_fiat')= 'Loading...'
                    td(id='public_'+coinProperties.ticker+'_price_fiat_percent_change_24h_container' style='text-align: right; white-space: nowrap; width: 10%;' )
                      span(id='public_'+coinProperties.ticker+'_price_fiat_percent_change_24h')

                each tokenProperties, key in zrcTokenPropertiesListMap
                  - var trStyle = ''
                  if tokenProperties.ticker === 'XPORT'
                    - trStyle = 'display: none;'

                  tr(style=trStyle)
                    td(scope='row' style='display:table-cell; vertical-align: middle; white-space: nowrap; width: 1%;')
                      img(height='18' width='18' src=tokenProperties.logo_url loading='lazy')
                    td(style='text-align: left; white-space: nowrap; width: 15%;' )
                      span= tokenProperties.ticker
                    td(style='text-align: right; white-space: nowrap; width: 25%;' )
                      span(id='public_'+tokenProperties.ticker+'_price_zil')= 'Loading...'
                    td(id='public_'+tokenProperties.ticker+'_price_zil_percent_change_24h_container' style='text-align: right; white-space: nowrap; width: 10%;' )
                      span(id='public_'+tokenProperties.ticker+'_price_zil_24h_ago' style='display: none;')
                      span(id='public_'+tokenProperties.ticker+'_price_zil_percent_change_24h')
                    td(style='text-align: right; white-space: nowrap; width: 25%;' )
                      span(id='public_'+tokenProperties.ticker+'_price_fiat')= 'Loading...'
                    td(id='public_'+tokenProperties.ticker+'_price_fiat_percent_change_24h_container' style='text-align: right; white-space: nowrap; width: 10%;' )
                      span(id='public_'+tokenProperties.ticker+'_price_fiat_24h_ago' style='display: none;')
                      span(id='public_'+tokenProperties.ticker+'_price_fiat_percent_change_24h')

      div(class='col-lg-6' style='padding: 0;')

        div(class='box-public')
          div(id='lp_status_content_header_container' class='card-header' data-toggle='collapse' href='#lp_status_content_container')
            a(id='lp_status_content_header_title' class='card-title font-weight-bold')= 'Liquidity Pool Status'
          div(id='lp_status_content_container' class='card-body collapse show')
            table(class='table table-sm table-borderless' width='100%')
              tbody
                tr
                  th(colspan=2 style='text-align: left; white-space: nowrap; width: 35%;' )= 'Liquidity Pair'
                  th(style='text-align: right; white-space: nowrap; width: 25%;')
                    span= '24h Volume'
                    span= ' ('
                    span(class='currency_symbol')= '$'
                    span= ')'
                  th(style='text-align: right; white-space: nowrap; width: 25%;')
                    span= 'Total Pool'
                    span= ' ('
                    span(class='currency_symbol')= '$'
                    span= ')'
                each tokenProperties, key in zrcTokenPropertiesListMap
                  - var trStyle = ''
                  if tokenProperties.ticker === 'XPORT'
                    - trStyle = 'display: none;'

                  tr(style=trStyle)
                    td(scope='row' style='display:table-cell; vertical-align: middle; white-space: nowrap; width: 1%;')
                      img(height='18' width='18' src=tokenProperties.logo_url loading='lazy')
                    td(style='text-align: left; white-space: nowrap; width: 25%;' )
                      span= tokenProperties.ticker + '-ZIL'
                    //- Just a placeholder
                    td(style='display: none;' )
                      span(id=tokenProperties.ticker+'_lp_total_volume_zil')= '0'
                    td(style='text-align: right; white-space: nowrap; width: 25%;' )
                      span(id=tokenProperties.ticker+'_lp_total_volume_fiat')= '0'
                    //- Just a placeholder
                    td(style='display: none;' )
                      span(id=tokenProperties.ticker+'_lp_total_pool_zil')= 'Loading...'
                      span(id=tokenProperties.ticker+'_lp_total_pool_zrc')= 'Loading...'
                    td(style='text-align: right; white-space: nowrap; width: 25%;' )
                      span(id=tokenProperties.ticker+'_lp_total_pool_fiat')= 'Loading...'
    
    hr

  // Main Content Container
  div(id='main_content_container' class='container' style='display: none;')

    div(class='row container')
      div(class='balance-box col-md-6')
        h3(class='font-weight-bold')= 'Net Worth'
        span(class='h4')
          span(class='currency_symbol mr-1')= '$'
          span(id='net_worth_fiat')= 'Loading...'
        span(id='net_worth_fiat_percent_change_24h_container' class='tooltip-container tooltip-rounded h6 text-secondary ml-3')
          span(id='net_worth_fiat_percent_change_24h')
          span= ' %'
        span(id='net_worth_fiat_percent_change_24h_tooltip_content' class='tooltip-content-plain text-secondary' style='display: none;')
          br
          span(class='currency_symbol mr-1')= '$'
          span(id='net_worth_fiat_24h_ago')
          span(class='ml-1')= '(24h ago)'
        br
        span(class='h6')
          span(id='net_worth_zil')= 'Loading...'
          span(class='ml-1')= 'ZIL'
        span(id='net_worth_zil_percent_change_24h_container' class='tooltip-container tooltip-rounded h6 text-secondary ml-3')
          span(id='net_worth_zil_percent_change_24h')
          span= ' %'
        span(id='net_worth_zil_percent_change_24h_tooltip_content' class='tooltip-content-plain text-secondary' style='display: none;')
          br
          span(id='net_worth_zil_24h_ago')
          span(class='ml-1')= 'ZIL'
          span(class='ml-1')= '(24h ago)'

      div(class='balance-box col-md-6')
        h3(class='font-weight-bold')= 'Wallet Balance'
        span(class='h4')
          span(class='currency_symbol mr-1')= '$'
          span(id='wallet_balance_fiat')= 'Loading...'
        span(id='wallet_balance_fiat_percent_change_24h_container' class='tooltip-container tooltip-rounded  h6 text-secondary ml-3')
          span(id='wallet_balance_fiat_percent_change_24h')
          span= ' %'
        span(id='wallet_balance_fiat_percent_change_24h_tooltip_content' class='tooltip-content-plain text-secondary' style='display: none;')
          br
          span(class='currency_symbol mr-1')= '$'
          span(id='wallet_balance_fiat_24h_ago')
          span(class='ml-1')= '(24h ago)'
        br
        span(class='h6')
          span(id='wallet_balance_zil')= 'Loading...'
          span(class='ml-1')= 'ZIL'
        span(id='wallet_balance_zil_percent_change_24h_container' class='tooltip-container tooltip-rounded h6 text-secondary ml-3')
          span(id='wallet_balance_zil_percent_change_24h')
          span= ' %'
        span(id='wallet_balance_zil_percent_change_24h_tooltip_content' class='tooltip-content-plain text-secondary' style='display: none;')
          br
          span(id='wallet_balance_zil_24h_ago')
          span(class='ml-1')= 'ZIL'
          span(class='ml-1')= '(24h ago)'

      div(class='balance-box col-md-6')
        h3(class='font-weight-bold')= 'LP Balance'
        span(class='h4')
          span(class='currency_symbol mr-1')= '$'
          span(id='lp_balance_fiat')= 'Loading...'
        span(id='lp_balance_fiat_percent_change_24h_container' class='tooltip-container tooltip-rounded h6 text-secondary ml-3')
          span(id='lp_balance_fiat_percent_change_24h')
          span= ' %'
        span(id='lp_balance_fiat_percent_change_24h_tooltip_content' class='tooltip-content-plain text-secondary' style='display: none;')
          br
          span(class='currency_symbol mr-1')= '$'
          span(id='lp_balance_fiat_24h_ago')
          span(class='ml-1')= '(24h ago)'
        br
        span(class='h6')
          span(id='lp_balance_zil')= 'Loading...'
          span(class='ml-1')= 'ZIL'
        span(id='lp_balance_zil_percent_change_24h_container' class='tooltip-container tooltip-rounded h6 text-secondary ml-3')
          span(id='lp_balance_zil_percent_change_24h')
          span= ' %'
        span(id='lp_balance_zil_percent_change_24h_tooltip_content' class='tooltip-content-plain text-secondary' style='display: none;')
          br
          span(id='lp_balance_zil_24h_ago')
          span(class='ml-1')= 'ZIL'
          span(class='ml-1')= '(24h ago)'

      div(class='balance-box col-md-6')
        h3(class='font-weight-bold')= 'Staking Balance'
        span(class='h4')
          span(class='currency_symbol mr-1')= '$'
          span(id='staking_balance_fiat')= 'Loading...'
        span(id='staking_balance_fiat_percent_change_24h_container' class='tooltip-container tooltip-rounded h6 text-secondary ml-3')
          span(id='staking_balance_fiat_percent_change_24h')
          span= ' %'
        span(id='staking_balance_fiat_percent_change_24h_tooltip_content' class='tooltip-content-plain text-secondary' style='display: none;')
          br
          span(class='currency_symbol mr-1')= '$'
          span(id='staking_balance_fiat_24h_ago')
          span(class='ml-1')= '(24h ago)'
        br
        span(class='h6')
          span(id='staking_balance_zil')= 'Loading...'
          span(class='ml-1')= 'ZIL'
        span(id='staking_balance_zil_percent_change_24h_container' class='tooltip-container tooltip-rounded h6 text-secondary ml-3')
          span(id='staking_balance_zil_percent_change_24h')
          span= ' %'
        span(id='staking_balance_zil_percent_change_24h_tooltip_content' class='tooltip-content-plain text-secondary' style='display: none;')
          br
          span(id='staking_balance_zil_24h_ago')
          span(class='ml-1')= 'ZIL'
          span(class='ml-1')= '(24h ago)'

    hr

    // Wallet Balance
    div(class='container title-box' style='display:table-cell; vertical-align: middle;')
      img(class='mr-3' height='36' src=zrcTokenPropertiesListMap['ZLP'].logo_url loading='lazy')
      span(class='h3 font-weight-bold' style='vertical-align: middle;')= 'Wallet Balance'

    div(id='wallet_balance' class='container')

      div(class='row')

        div(class='col-lg-6' style='padding: 0;')
          div(class='box')
            table(class='table table-sm table-borderless' width='100%')
              tbody
                tr
                  td(scope='row' rowspan='4' style='display:table-cell; vertical-align: middle; white-space: nowrap; width: 1%;')
                    img(height='32' width='32' src='https://meta.viewblock.io/ZIL/logo' loading='lazy')
                  td(style='text-align: left; white-space: nowrap; width: 35%;' )
                    span(class='font-weight-bold')= 'Zilliqa'
                  td(style='text-align: right; white-space: nowrap; width: 40%;' )
                    span(id='zil_balance')= 'Loading...'
                    span(id='zil_balance_unit' class='ml-1')= 'ZIL'
                tr
                  td(scope='row' class='font-weight-normal text-secondary' style='white-space: nowrap; width: 35%;' )
                    span(class='currency_symbol mr-1')= '$'
                    span(class='ZIL_price_fiat')= 'Loading...'
                  td(style='text-align: right; white-space: nowrap; width: 40%;' )
                    span(class='currency_symbol mr-1')= '$'
                    span(id='zil_balance_fiat')= 'Loading...'
                  td(id='zil_balance_fiat_percent_change_24h_container' class='tooltip-container text-secondary' style='text-align: right; white-space: nowrap; width: 10%;' )
                    span(id='zil_balance_fiat_percent_change_24h')
                    span= '%'
                tr(id='zil_balance_fiat_percent_change_24h_tooltip_content' class='tooltip-content' style='display: none;')
                  td(scope='row' style='white-space: nowrap;' )
                    span= 'Balance 24h ago'
                  td(style='text-align: right; white-space: nowrap;' )
                    span(class='currency_symbol mr-1')= '$'
                    span(id='zil_balance_fiat_24h_ago')
                  td(style='text-align: right; white-space: nowrap;' )

        each tokenProperties, key in zrcTokenPropertiesListMap

          div(id=tokenProperties.ticker+'_container' class='col-lg-6' style='padding: 0; display: none')
            div(class='box')
              table(class='table table-sm table-borderless')
                tbody
                  tr
                    td(scope='row' rowspan='4' style='display:table-cell; vertical-align: middle; white-space: nowrap; width: 1%;')
                      img(height='32' width='32' src=tokenProperties.logo_url loading='lazy')
                    td(style='text-align: left; white-space: nowrap; width: 35%;' )
                      span(class='font-weight-bold')= tokenProperties.ticker
                      span(class=tokenProperties.ticker+'_price_zil ml-2 text-secondary')= 'Loading...'
                      span(class='ml-1 text-secondary')= 'ZIL'
                      span(class=tokenProperties.ticker+'_price_zil_24h_ago' style='display: none;')
                    td(style='text-align: right; white-space: nowrap; width: 40%;' )
                      span(id=tokenProperties.ticker+'_balance_zil')= 'Loading...'
                      span(class='ml-1')= 'ZIL'
                    td(id=tokenProperties.ticker+'_balance_zil_percent_change_24h_container' class='tooltip-container text-secondary' style='text-align: right; white-space: nowrap; width: 10%;' )
                      span(id=tokenProperties.ticker+'_balance_zil_percent_change_24h')
                      span= '%'
                  tr(id=tokenProperties.ticker+'_balance_zil_percent_change_24h_tooltip_content' class='tooltip-content' style='display: none;')
                    td(style='text-align: left; white-space: nowrap;' )
                      span= 'Balance 24h ago'
                    td(style='text-align: right; white-space: nowrap;' )
                      span(id=tokenProperties.ticker+'_balance_zil_24h_ago')
                      span(class='ml-1')= 'ZIL'
                    td(style='text-align: right; white-space: nowrap;' )
                  tr
                    td(scope='row' style='text-align: left; white-space: nowrap; width: 35%;' )
                      span(id=tokenProperties.ticker+'_balance')= 'Loading...'
                      span(id=tokenProperties.ticker+'_balance_unit' class='ml-1')= tokenProperties.ticker
                    td(style='text-align: right; white-space: nowrap; width: 40%;' )
                      span(class='currency_symbol mr-1')= '$'
                      span(id=tokenProperties.ticker+'_balance_fiat')= 'Loading...'
                    td(id=tokenProperties.ticker+'_balance_fiat_percent_change_24h_container' class='tooltip-container text-secondary' style='text-align: right; white-space: nowrap; width: 10%;' )
                      span(id=tokenProperties.ticker+'_balance_fiat_percent_change_24h')
                      span= '%'
                  tr(id=tokenProperties.ticker+'_balance_fiat_percent_change_24h_tooltip_content' class='tooltip-content' style='display: none;')
                    td(style='text-align: left; white-space: nowrap;' )
                      span= 'Balance 24h ago'
                    td(style='text-align: right; white-space: nowrap;' )
                      span(class='currency_symbol mr-1')= '$'
                      span(id=tokenProperties.ticker+'_balance_fiat_24h_ago')
                    td(style='text-align: right; white-space: nowrap;' )

    hr

    div(id='lp_container' style='display: none')

      div(class='container title-box' style='display:table-cell; vertical-align: middle;')
        img(class='mr-3' height='36' src='/images/zilswap_long_logo.svg' loading='lazy')
        span(class='h3 font-weight-bold' style='vertical-align: middle;')= 'Liquidity Pool Balance'

      // LP Balance
      div(id='lp_balance' class='container')

        div(class='row')

          div(id='total_all_lp_reward_next_epoch_container' class='col-lg-6' style='padding: 0; display: none')
            div(class='highlight-box')
              table(class='table table-sm table-borderless')
                tbody
                  tr
                    td(scope='row' rowspan='4' style='display:table-cell; vertical-align: middle; white-space: nowrap; width: 1%;')
                      img(height='32' width='32' src=zrcTokenPropertiesListMap['ZWAP'].logo_url loading='lazy')
                    td(colspan='2' style='text-align: left; white-space: nowrap; width: 50%;' )
                      span(class='font-weight-bold')= 'Est. reward'
                    td(style='text-align: right; white-space: nowrap; width: 25%;' )
                      span(id='lp_reward_next_epoch_duration_counter' class='font-weight-normal')
                  tr
                    td(style='text-align: left; white-space: nowrap; width: 25%;' )
                      span= 'Next epoch'
                    td(class='text-secondary' style='text-align: right; white-space: nowrap; width: 25%;' )
                      span(id='total_all_lp_reward_next_epoch_zwap' class='ml-1')= 'Loading...'
                      span(class='ml-1')= zrcTokenPropertiesListMap['ZWAP'].ticker
                    td(class='text-secondary' style='text-align: right; white-space: nowrap; width: 25%;' )
                      span(class='currency_symbol mr-1')= '$'
                      span(id='total_all_lp_reward_next_epoch_fiat')= 'Loading...'
                  tr
                    td(style='text-align: left; white-space: nowrap; width: 25%;' )
                      span= 'Prev epoch'
                    td(class='text-secondary' style='text-align: right; white-space: nowrap; width: 25%;' )
                      span(id='total_all_lp_reward_prev_epoch_zwap' class='ml-1')= 'Loading...'
                      span(class='ml-1')= zrcTokenPropertiesListMap['ZWAP'].ticker
                    td(class='text-secondary' style='text-align: right; white-space: nowrap; width: 25%;' )
                      span(class='currency_symbol mr-1')= '$'
                      span(id='total_all_lp_reward_prev_epoch_fiat')= 'Loading...'

          each tokenProperties, key in zrcTokenPropertiesListMap

            div(id=tokenProperties.ticker+'_lp_container' class='col-lg-6' style='padding: 0; display: none')
              div(class='box')
                table(class='table table-sm table-borderless')
                  tbody
                    tr
                      td(scope='row' style='text-align: left; white-space: nowrap; width: 45%;' )
                        img(height='18' width='18' src=tokenProperties.logo_url loading='lazy')
                        img(height='18' width='18' src='https://meta.viewblock.io/ZIL/logo' loading='lazy')
                        span(class='font-weight-bold ml-2')= tokenProperties.ticker + '-ZIL'
                        span(class=tokenProperties.ticker+'_price_zil ml-2 text-secondary')= 'Loading...'
                        span(class='ml-1 text-secondary')= 'ZIL'

                      td(style='text-align: right; white-space: nowrap; width: 40%;' )
                        span(id=tokenProperties.ticker+'_lp_balance_zil' class='ml-1')
                        span(class='ml-1')= 'ZIL'

                      td(id=tokenProperties.ticker+'_lp_balance_zil_percent_change_24h_container' class='tooltip-container text-secondary' style='text-align: right; white-space: nowrap; width: 10%;' )
                        span(id=tokenProperties.ticker+'_lp_balance_zil_percent_change_24h')
                        span= '%'

                    tbody(id=tokenProperties.ticker+'_lp_balance_zil_percent_change_24h_tooltip_content' class='tooltip-content' style='display: none;')
                      tr
                        td(scope='row' style='text-align: left; white-space: nowrap;' )
                          span= 'Balance 24h ago'
                        td(style='text-align: right; white-space: nowrap;' class='text-secondary')
                          span(id=tokenProperties.ticker+'_lp_pool_share_percent_24h_ago')
                          span(class='ml-1')= '%'
                        td(style='text-align: right; white-space: nowrap;' )
                      tr
                        td(scope='row' style='text-align: left; white-space: nowrap;' )
                          span(id=tokenProperties.ticker+'_lp_token_balance_24h_ago')
                          span(class='ml-1')= tokenProperties.ticker
                          span(class='ml-1')= '-'
                          span(id=tokenProperties.ticker+'_lp_zil_balance_24h_ago' class='ml-1')
                          span(class='ml-1')= 'ZIL'
                        td(style='text-align: right; white-space: nowrap;' )
                          span(id=tokenProperties.ticker+'_lp_balance_zil_24h_ago' class='tooltip-whitespace')
                          span(class='ml-1')= 'ZIL'
                        td(style='text-align: right; white-space: nowrap;' )
                    tr
                      td(style='text-align: left; white-space: nowrap; width: 45%;' )
                        span(id=tokenProperties.ticker+'_lp_token_balance')
                        span(id=tokenProperties.ticker+'_lp_token_balance_unit' class='ml-1')= tokenProperties.ticker
                        span(class='ml-1')= '-'
                        span(id=tokenProperties.ticker+'_lp_zil_balance' class='ml-1')
                        span(id=tokenProperties.ticker+'_lp_zil_balance_unit' class='ml-1')= 'ZIL'
                      td(style='text-align: right; white-space: nowrap; width: 40%;' )
                        span(class='currency_symbol mr-1')= '$'
                        span(id=tokenProperties.ticker+'_lp_balance_fiat')= 'Loading...'
                      td(id=tokenProperties.ticker+'_lp_balance_fiat_percent_change_24h_container' class='tooltip-container text-secondary' style='text-align: right; white-space: nowrap; width: 10%;' )
                        span(id=tokenProperties.ticker+'_lp_balance_fiat_percent_change_24h')
                        span= '%'
                    tr(id=tokenProperties.ticker+'_lp_balance_fiat_percent_change_24h_tooltip_content' class='tooltip-content' style='display: none;')
                      td(style='text-align: left; white-space: nowrap;' )
                        span= 'Balance 24h ago'
                      td(style='text-align: right; white-space: nowrap;' )
                        span(class='currency_symbol mr-1')= '$'
                        span(id=tokenProperties.ticker+'_lp_balance_fiat_24h_ago')
                      td(style='text-align: right; white-space: nowrap;' )

                    tr
                      td(class='text-secondary' style='text-align: left; white-space: nowrap; width: 45%;' )
                        span(id=tokenProperties.ticker+'_lp_pool_reward_zwap')
                        span(id=tokenProperties.ticker+'_lp_pool_reward_zwap_unit' class='ml-1')
                      td(class='text-secondary'  style='text-align: right; white-space: nowrap; width: 55%;' )
                        span(id=tokenProperties.ticker+'_lp_pool_share_percent')= 'Loading...'
                        span(class='ml-1')= '%'
                      td(style='text-align: right; white-space: nowrap;' )
      hr

    div(id='staking_container' style='display: none')

      div(class='container title-box' style='display:table-cell; vertical-align: middle;')
        span(class='h3 font-weight-bold' style='vertical-align: middle;')= 'Staking Balance'

      // ZIL Staking Balance
      div(id='zil_staking_balance' class='container')

        div(class='row')

          each ssnProperties, ssnAddress in ssnListMap

            div(id=ssnAddress+'_zil_staking_container' class='col-lg-6' style='padding: 0; display: none')
              div(class='box')
                table(class='table table-sm table-borderless')
                  tbody
                    tr
                      td(scope='row' rowspan='4' style='display:table-cell; vertical-align: middle; white-space: nowrap; width: 1%;')
                        img(height='32' width='32' src='https://meta.viewblock.io/ZIL/logo' loading='lazy')
                      td(style='text-align: left; white-space: nowrap; width: 35%;' )
                        span(class='font-weight-bold')= ssnProperties.arguments[3] + ' seed node'
                      td(style='text-align: right; white-space: nowrap; width: 40%;' )
                        span(id=ssnAddress+'_zil_staking_balance')= 'Loading...'
                        span(id=ssnAddress+'_zil_staking_balance_unit' class='ml-1')= 'ZIL'
                    tr
                      td(scope='row' class='font-weight-normal text-secondary' style='white-space: nowrap; width: 35%;' )
                        span(class='currency_symbol mr-1')= '$'
                        span(class='ZIL_price_fiat')= 'Loading...'
                      td(style='text-align: right; white-space: nowrap; width: 40%;' )
                        span(class='currency_symbol mr-1')= '$'
                        span(id=ssnAddress+'_zil_staking_balance_fiat')= 'Loading...'
                      td(id=ssnAddress+'_zil_staking_balance_fiat_percent_change_24h_container' class='tooltip-container text-secondary' style='text-align: right; white-space: nowrap; width: 10%;' )
                        span(id=ssnAddress+'_zil_staking_balance_fiat_percent_change_24h')
                        span= '%'
                    tr(id=ssnAddress+'_zil_staking_balance_fiat_percent_change_24h_tooltip_content' class='tooltip-content' style='display: none;')
                      td(scope='row' style='white-space: nowrap;' )
                        span= 'Balance 24h ago'
                      td(style='text-align: right; white-space: nowrap;' )
                        span(class='currency_symbol mr-1')= '$'
                        span(id=ssnAddress+'_zil_staking_balance_fiat_24h_ago')
                      td(style='text-align: right; white-space: nowrap;' )

          div(id='zil_staking_withdrawal_pending_container' class='col-lg-6' style='padding: 0; display: none')
              div(class='box')
                table(class='table table-sm table-borderless')
                  tbody
                    tr
                      td(scope='row' rowspan='4' style='display:table-cell; vertical-align: middle; white-space: nowrap; width: 1%;')
                        img(height='32' width='32' src='https://meta.viewblock.io/ZIL/logo' loading='lazy')
                      td(style='text-align: left; white-space: nowrap; width: 35%;' )
                        span(class='font-weight-bold')= 'Withdrawal pending'
                      td(style='text-align: right; white-space: nowrap; width: 40%;' )
                        span(id='zil_staking_withdrawal_pending_balance')= 'Loading...'
                        span(id='zil_staking_withdrawal_pending_balance_unit' class='ml-1')= 'ZIL'
                    tr
                      td(scope='row' class='font-weight-normal text-secondary' style='white-space: nowrap; width: 35%;' )
                        span(class='currency_symbol mr-1')= '$'
                        span(class='ZIL_price_fiat')= 'Loading...'
                      td(style='text-align: right; white-space: nowrap; width: 40%;' )
                        span(class='currency_symbol mr-1')= '$'
                        span(id='zil_staking_withdrawal_pending_balance_fiat')= 'Loading...'
                      td(id='zil_staking_withdrawal_pending_balance_fiat_percent_change_24h_container' class='tooltip-container text-secondary' style='text-align: right; white-space: nowrap; width: 10%;' )
                        span(id='zil_staking_withdrawal_pending_balance_fiat_percent_change_24h')
                        span= '%'
                    tr(id='zil_staking_withdrawal_pending_balance_fiat_percent_change_24h_tooltip_content' class='tooltip-content' style='display: none;')
                      td(scope='row' style='white-space: nowrap;' )
                        span= 'Balance 24h ago'
                      td(style='text-align: right; white-space: nowrap;' )
                        span(class='currency_symbol mr-1')= '$'
                        span(id='zil_staking_withdrawal_pending_balance_fiat_24h_ago')
                      td(style='text-align: right; white-space: nowrap;' )

          div(id='carbon_staking_container' class='col-lg-6' style='padding: 0; display: none')
            div(class='box')
              table(class='table table-sm table-borderless')
                tbody
                  tr
                    td(scope='row' rowspan='4' style='display:table-cell; vertical-align: middle; white-space: nowrap; width: 1%;')
                      img(height='32' width='32' src=zrcTokenPropertiesListMap['CARB'].logo_url loading='lazy')
                    td(style='text-align: left; white-space: nowrap; width: 35%;' )
                      span(class='font-weight-bold')= zrcTokenPropertiesListMap['CARB'].name
                      span(class=zrcTokenPropertiesListMap['CARB'].ticker+'_price_zil ml-2 text-secondary')= 'Loading...'
                      span(class='ml-1 text-secondary')= 'ZIL'
                    td(style='text-align: right; white-space: nowrap; width: 40%;' )
                      span(id='carbon_staking_balance_zil')= 'Loading...'
                      span(class='ml-1')= 'ZIL'
                    td(id='carbon_staking_balance_zil_percent_change_24h_container' class='tooltip-container text-secondary' style='text-align: right; white-space: nowrap; width: 10%;' )
                      span(id='carbon_staking_balance_zil_percent_change_24h')
                      span= '%'
                    tr(id='carbon_staking_balance_zil_percent_change_24h_tooltip_content' class='tooltip-content' style='display: none;')
                      td(scope='row' style='white-space: nowrap;' )
                        span= 'Balance 24h ago'
                      td(style='text-align: right; white-space: nowrap;' )
                        span(id='carbon_staking_balance_zil_24h_ago')
                        span(class='ml-1')= 'ZIL'
                      td(style='text-align: right; white-space: nowrap;' )
                  tr
                    td(style='text-align: left; white-space: nowrap; width: 35%;' )
                      span(id='carbon_staking_balance')= 'Loading...'
                      span(id='carbon_zil_staking_balance_unit' class='ml-1')= zrcTokenPropertiesListMap['CARB'].ticker
                    td(style='text-align: right; white-space: nowrap; width: 40%;' )
                      span(class='currency_symbol mr-1')= '$'
                      span(id='carbon_staking_balance_fiat')= 'Loading...'
                    td(id='carbon_staking_balance_fiat_percent_change_24h_container' class='tooltip-container text-secondary' style='text-align: right; white-space: nowrap; width: 10%;' )
                      span(id='carbon_staking_balance_fiat_percent_change_24h')
                      span= '%'
                    tr(id='carbon_staking_balance_fiat_percent_change_24h_tooltip_content' class='tooltip-content' style='display: none;')
                      td(scope='row' style='white-space: nowrap;' )
                        span= 'Balance 24h ago'
                      td(style='text-align: right; white-space: nowrap;' )
                        span(class='currency_symbol mr-1')= '$'
                        span(id='carbon_staking_balance_fiat_24h_ago')
                      td(style='text-align: right; white-space: nowrap;' )
      hr

block script
  script(src='/javascripts/main.min.js')

  script.
    var coinMap = !{JSON.stringify(coinMap)};
    var currencyMap = !{JSON.stringify(currencyMap)};
    var ssnListMap = !{JSON.stringify(ssnListMap)};
    var zrcTokenPropertiesListMap = !{JSON.stringify(zrcTokenPropertiesListMap)};
    // Cache from redis (if any). If there are no cache, we will fallback to RPC network call.
    var coinPriceCoingeckoData = !{JSON.stringify(coinPriceCoingecko)};
    var coinPriceCoingecko24hAgoData = !{JSON.stringify(coinPriceCoingecko24hAgo)};
    var zilswapDexSmartContractStateData = !{JSON.stringify(zilswapDexSmartContractState)};
    var zilswapDexSmartContractState24hAgoData = !{JSON.stringify(zilswapDexSmartContractState24hAgo)};
    var zilswapDex24hTradeVolumeData = !{JSON.stringify(zilswapDex24hTradeVolume)};
    var zilswapDexEpochInfoData = !{JSON.stringify(zilswapDexEpochInfo)};

    // Global cache for zilliqa price in fiat
    var zilPriceInFiatFloat = null;
    // Global cache for zilliqa price in fiat, 24h ago
    var zilPriceInFiat24hAgoFloat = null;
