doctype html
html(lang='en' class='dark-mode')

  head
    //- Global site tag (gtag.js) - Google Analytics
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MJ3SBZC');

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    meta(name='description' content=description)
    meta(property='og:site_name' content=title)
    meta(property='og:title' content=title)
    meta(property='og:description' content=description)
    meta(name='twitter:title' content=title)
    meta(name='twitter:description' content=description)

    title= title

    link(rel='apple-touch-icon' sizes='180x180' href='/images/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/images/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/images/favicon/favicon-16x16.png')
    link(rel='manifest' href='/images/favicon/favicon.webmanifest')

    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@700&display=swap')

    link(rel='stylesheet' href='/stylesheets/main.min.css')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

  body
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-MJ3SBZC' height='0' width='0' style='display:none;visibility:hidden')

    block content

    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')

    block script 

  footer(class='footer bg-dynamic-1')

    div(class='container pt-4')
      section(class='mb-4')
        a(class='btn-lg  text-dark'
          href='https://t.me/zilWatch_community'
          role='button')
            i(class='fa fa-telegram')

        a(class='btn-lg text-dark'
          href='https://zilwatch.medium.com'
          role='button')
            i(class='fa fa-medium')

        a(class='btn-lg text-dark'
          href='https://twitter.com/zilwatch_io'
          role='button')
            i(class='fa fa-twitter')

    p()= '© 2021 zilWatch.io'
    p= '―'

    div(class='container pt-1')
      p= 'Powered by'
      section(class='mb-4')
        a(class='btn-lg text-dark'
          href='https://dev.zilliqa.com/docs/apis/api-introduction/'
          role='button')
            img(height='24' src='https://meta.viewblock.io/ZIL/logo' loading='lazy' alt='Zilliqa API')

        a(class='btn-lg text-dark'
          href='https://zilpay.io'
          role='button')
            img(height='24' src=zrcTokenPropertiesListMap['ZLP'].logo_url loading='lazy' alt='ZilPay Wallet and API')

        a(class='btn-lg text-dark'
          href='https://zilswap.io'
          role='button')
            img(height='24' src='/images/zilswap_logo.png' loading='lazy' alt='ZilSwap API') 

        a(class='btn-lg text-dark'
          href='https://viewblock.io/zilliqa'
          role='button')
            img(height='24' src='https://cdn.viewblock.io/viewblock-light.png' loading='lazy' alt='Viewblock API')

        a(class='btn-lg text-dark'
          href='https://www.coingecko.com/en/api#explore-api'
          role='button')
            img(height='24' src='https://static.coingecko.com/s/thumbnail-007177f3eca19695592f0b8b0eabbdae282b54154e1be912285c9034ea6cbaf2.png' loading='lazy' alt='CoinGecko API')
